.detail-table {
    justify-content: space-between;
    align-items: baseline;
    padding: 50px;
    .detail-name {
        font-size: 50px;
        opacity: 0.8;
        text-align: center;
    }
}
.detail-wrapper {
    .total {
        display: flex;
        justify-content: flex-end;
        font-size: xx-large;
        width: 90%;
        min-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
    table {
        width: 90%;
        min-width: 700px;
        color: rgba(0, 0, 0, 0.815);
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.418);
        margin-bottom: 25px;
        border-radius: 8px;
        padding: 0;
        border-collapse: collapse;
    }

    thead {
        background: #f0f3f5;
        width: 100%;
        tr {
            th {
                text-align: left;
                padding: 20px;
            }
        }
    }
    tbody {
        background: #c7c7c7;
        tr {
            td {
                border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.123);
                padding: 20px;
            }
        }
    }
    .d-flex {
        display: flex;
    }
    .add {
        padding: 10px 20px;
        background: #f3f3f3;
        cursor: pointer;
        display: inline-block;
    }
    .unit {
        padding: 10px 20px;
        cursor: pointer;
        display: inline-block;
    }
    .image-wrapper {
        padding-right: 5px;
        img {
            max-width: 65px;
        }
    }
}
