*{
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    margin: 40px 37px;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
}
.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  max-width: 200px;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;

}
.container{
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 16px 0px;
    max-width: 960px;
    width: 100%;
}
.column-small {
    display: table-cell;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}
.column-big {
    display: table-cell;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}
.categories-button{
    border: 1px solid #000000; 
    background: rgba(255, 255, 255, 0.445); 
    padding: 10px 20px;
    font-size: medium;
    color: #000000; 
}
.categories-button:hover{
    background: rgba(255, 255, 255, 0.80); 
}
.title-sale{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none

}